*
{
    box-sizing: border-box;
}

body
{
    margin: 0;
    background-color: #333;
    display: flex;
    align-items: center;
    font-size: 1rem;
    flex-direction: column;
    color: white;
}

.title
{
    margin: 20px;
}

.subtext
{
    color: #CCC;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.mineField
{
    display: inline-grid;
    padding: 10px;
    grid-template-columns: repeat(var(--fieldWidth), 20px);
    grid-template-rows: repeat(var(--fieldHeight), 20px);
    gap: 2px;
    background-color: #777;
}

.mineField > *
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 2px solid #BBB;
    user-select: none;
}

.mineField > [data-status="hidden"]
{
    background-color: #BBB;
    cursor: pointer;
}

.mineField > [data-status="mine"]
{
    background-color: red;
}

.mineField > [data-status="number"]
{
    background-color: none;
}

.mineField > [data-status="flagged"]
{
    background-color: none;
    text-align: center;
}

.mineField > [data-status="question"]
{
    background-color: #BBB;
    color: black;
}